# dependencies
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log

# build output
dist
build

# local env files
.env
.env.*.local

# editor stuff
.vscode
.idea

# OS junk
.DS_Store
Thumbs.db

# git
.git
.gitignore

